.git
.env
.env.example
.DS_Store
.editorconfig
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn-integrity
*.tgz
.node_repl_history
.eslintcache
.npm
.lock-wscript
.nyc_output
pids
*.pid
*.seed
*.pid.lock
logs
tmp
node_modules
README.md
Dockerfile
docker-compose.yml
Makefile
